/*@font-face {
  font-family: 'Oxygen';
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: local('Oxygen Light'), local('Oxygen-Light'),
       url('~@/assets/fonts/Oxygen-Light.woff2') format('woff2'),
       url('~@/assets//fonts/Oxygen-Light.woff') format('woff'),
       url('~@/assets//fonts/Oxygen-Light.ttf') format('truetype');
}*/
