@variants hover, focus, active, responsive {
  .move-fast {
    transition: all 0.1s;
  }
  .move-d-1 {
    transform: translateY(1px);
  }
  .move-l-2 {
    transform: translateX(-2px);
  }
  .move-r-2 {
    transform: translateX(2px);
  }
}
